<form method="POST" action="{% url 'cadastrar_funcionario' %}">
    {% csrf_token %}
    
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required>
    
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    
    <label for="empresa">Empresa:</label>
    <select name="empresa" required>
        {% for empresa in empresas %}
            <option value="{{ empresa.id }}">{{ empresa.nome }}</option>
        {% endfor %}
    </select>
    
    <label for="senha">Senha:</label>
    <input type="password" name="senha" required>
    
    {% if user.is_superuser %}
        <label for="is_admin">Definir como Admin:</label>
        <input type="checkbox" name="is_admin">
    {% endif %}
    
    <button type="submit">Cadastrar Funcionário</button>
</form>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
